apiVersion: v1
kind: Service
metadata:
  name: mercator-jupiter
  labels:
    app: mercator-jupiter
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
  - name: metrics
    port: 9090
    targetPort: 9090
    protocol: TCP
  selector:
    app: mercator-jupiter
---
apiVersion: v1
kind: Service
metadata:
  name: mercator-jupiter-metrics
  labels:
    app: mercator-jupiter
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9090"
spec:
  type: ClusterIP
  ports:
  - name: metrics
    port: 9090
    targetPort: 9090
    protocol: TCP
  selector:
    app: mercator-jupiter
